<div class="shop-container">
  <aside class="filter-panel">
    <h2>Filters</h2>

    <!-- Search Filter -->
    <div class="filter-group">
      <label>Search</label>
      <input type="text" (keypress)="searchProducts($event.target)" placeholder="Search products..." />
    </div>

    <!-- Category Filter -->
    <div class="filter-group">
      <label>Category</label>
      <select (change)="filterProducts($event.target)">
        <option value="">All</option>
        @for(item of categories;track item){
        <option value="{{item.categoryName}}">{{item.categoryName}}</option>
        }
      </select>
    </div>

    <!-- Static Price Filter -->
    <div class="filter-group">
      <label>Price Range</label>
      <select (change)="filterProductsusingPriceRange($event.target)">
        <option value="">All</option>
        <option value="500"><$500</option>
        <option value="1000"><$1000</option>
        <option value="1500"><$1500</option>
        <option value="1500+">$1500+</option>
      </select>
    </div>
  </aside>

  <main class="products-panel">
    <div class="products-grid">
      <!-- Products -->
       @if(Products.length === 0) {

           <div  class="no-products">
               <p>No product found</p>
            </div>
        }
       @for(item of Products;track item){

      <div class="product-card">
        <img src="{{link}}UploadFiles/{{item.coverImage}}" alt="{{item.coverImage}}" />
        <div class="product-details">
            <p class="category">{{item.category}}</p>
          <h3><a [routerLink]="['/homepage/product-detail']" [queryParams]="{id:item.id,category:item.category}">  {{item.productName}}</a></h3>
          <p class="price">${{item.price}}</p>
        </div>
        <button class="add-btn" (click)="productAddedToCart(item)">Add to Cart</button>
      </div>
       }

    </div>
  </main>
</div>